.cool{
background-color: rgb(245,240,230)

}

.great{
        background-color: red;
        position: sticky;
        top: 0;
}

.nice{
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');

    h2 {
        color: white
    }

    p {
        color: white
    }
}
