.cool{
background-color: rgb(245,240,230)
span style = "color: rgb(245,240,230)";
}

.nice{
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');

    h2 {
        color: white
    }

    p {
        color: white
    }
}
